.contact_area {
   margin: 60px 0;
   color: #747474;
}

.contact_main h3 {
   font-size: 25px;
   text-transform: capitalize;
   color: #242424;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 25px;
}

.contact_main p {
   font-size: 14px;
   line-height: 24px;
   color: #242424;
   margin-bottom: 20px;
}

.contact_info_list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.contact_info_item {
   padding: 14px 0;
   border-top: 1px solid #ddd;
}

.contact_main .contact_box {
   color: #747474;
   width: 100%;
   height: 45px;
   padding: 0 20px;
   border: 1px solid #ddd;
   outline: none;
}

.contact_textarea .contact_box {
   height: 170px;
   resize: none;
   margin-bottom: 20px;
   padding: 10px 20px;
}

.contact_btn button {
   font-weight: 700;
   height: 42px;
   line-height: 42px;
   text-transform: uppercase;
   border: none;
   color: #fff;
   background-color: var(--primary-color);
   border-radius: 3px;
   width: 100%;
   transition: all .3s ease;
}

.contact_btn:hover button {
   background-color: #242424;
}

.contact_map{
   padding-bottom: 40px;
   margin-bottom: 60px;
}