.login_wrapper {
   width: 500px;
   margin: 60px auto;
}

.login_form_container {
   background: #f3f3f3;
   padding: 37px 40px;
   overflow: hidden;
}

.login_text {
   margin-bottom: 30px;
   text-align: center;
}

.login_text h2 {
   color: #333;
   font-size: 30px;
   text-transform: capitalize;
}

.login_text p {
   color: #666;
   font-size: 15px;
}

.login_form input {
   background: #fff;
   border: transparent;
   border-radius: 0;
   box-shadow: none;
   color: #333;
   font-size: 14px;
   height: 40px;
   margin-bottom: 20px;
   padding-left: 10px;
   width: 100%;
}